<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">

    <title>Register</title>
</head>
<body>
    <form method="POST" action="\register">
        <h1>REGISTER</h1>

        <?php if(isset($messages)): ?>
            <p class="messages">
                <?= $messages; ?>
            </p>
        <?php endif; ?>

        <input name="email" type="text" placeholder="Twój email"><br>
        <input name="password" type="password" placeholder="Twoje hasło"><br>
        <input name="password_confirm" type="password" placeholder="Potwierdź hasło"><br>

        <input name="firstName" type="text" placeholder="Imię"><br>
        <input name="lastName" type="text" placeholder="Nazwisko"><br>
        <button type="submit">REGISTER</button>
    </form>
</body>
</html>